<title>{{ title }}</title>

<link rel="stylesheet" href="/stylesheets/style.css"/>
<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css"/>
<script src="//code.jquery.com/jquery-1.10.2.js"></script>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script id="class-template" type="text/html">

        <button class="btn CalcGPA" value="Calculate GPA" name="Calculate GPA">Calculate GPA</button>
        <button class="btn addClass" value="Add Class" name="Add Class">Add Class</button>

    <p id="paragraph"></p>
    <select id="dropdown" name="dropdown">
        <option value="Classes" selected="selected">Classes</option>
        <option value="GPA">GPA</option>


    </select>

</script>

<script id="classes-template" type="text/html">
    <h2 id="<%= htmlId %>"> <%= title %>
        <button class="btn btn-default text-right pull-right edit">Edit</button>
    </h2>

    <p> Grade: <%= grade %> Credit: <%= credit %> </p>

</script>

<script id="classes-edit-template" type="text/html">
    <h2 id="<%= htmlId %>"><%= title %>
        <button class="btn btn-success text-right pull-right save">Save</button>
    </h2>
    <div id="calculator">
        <form id="GC1" method="post" action="/gpaCalculator">
            <label for="G1">Grade:</label>
            <select id="G1" name="grade">
                <option value="A">A</option>
                <option value="A-">A-</option>
                <option value="B+">B+</option>
                <option value="B">B</option>
                <option value="B-">B-</option>
                <option value="C+">C+</option>
                <option value="C">C</option>
                <option value="C-">C-</option>
                <option value="D+">D+</option>
                <option value="D">D</option>
                <option value="D-">D-</option>
                <option value="F">F</option>
            </select>
            <label for="C1">Credits:</label>
            <select id="C1" name="credit">
                <option value="0.0">0</option>
                <option value="1.0">1</option>
                <option value="2.0">2</option>
                <option value="3.0">3</option>
                <option value="4.0">4</option>
                <option value="5.0">5</option>
            </select><br />
    </div>
</script>

<script id="gpa-template" type="text/html">
    <h2 id="<%= htmlId %>"  class="fixlink"><%= title %>
        <!-- <button class="btn btn-default text-right pull-right edit">Edit</button> -->
    </h2>

    <p><%= body %></p>

</script>

<script>
    $(document).ready(function(){
        $('#contentGPA').hide()
    })
</script>