<script type="text/javascript" src="/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/underscore/underscore.js"></script>
<script src="/backbone/backbone.js"></script>

<script src="/js/models/classes.js" ></script>
<script src="/js/views/classesView.js"></script>
<script src="/js/collections/classesCollection.js"></script>
<script src="/js/views/classesCollectionView.js"></script>

<script src="/js/models/gpa.js" ></script>
<script src="/js/views/gpaView.js"></script>
<script src="/js/collections/gpaCollection.js"></script>
<script src="/js/views/gpaCollectionView.js"></script>

<script src="/js/views/documentView.js"></script>

<script src="/js/views/navbarItemView.js"></script>
<script src="/js/views/navbarView.js"></script>

<script src="/js/app.js"></script>
